
 body {
 background-color: #1E1E1E;
 color: #FFFFFF;
 font-family: Arial, sans-serif;
 }

 header {
 text-align: center;
 padding: 40px 0;
 }
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
  font: normal 20px Arial;
  margin-top: 10px;
}

.square {
  width: 300px;
  height: 300px;
  background-color: #292c2f;
  margin: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 20%;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.square:hover {
  transform: scale(1.1);
}

.square p {
  margin-top: 50%;
  transform: translateY(-50%);
}

h1 {
  text-align: center;
  font: bold 40px Arial;
  color: white;
  padding: 4%;
  margin-bottom: 120px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .square {
    flex-basis: calc(85% - 20px);
    height: auto;
    margin: 10px 0;
    width: 80%;
    border-radius: 15px; /* changed border-radius */
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 10px;
    margin-bottom: 85%;
  }

  .square p {
    margin-top: 1px;
    transform: translateY(0%);
	z-index: 1;
  }

  h1 {
    margin-top: 90px;
    margin-bottom: 0px;
    padding: 0px;
    font: bold 35px Arial;
	z-index: 1;
  }
}

 /* Footer styles */
 
 footer{
     position: absolute;
     bottom: 0;
     left: 0;
 }
 .footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 10px 10px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 5px;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 0px;
  padding: 0px;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

@media (max-width: 768px) {
  .footer-distributed {
    position: fixed;
    bottom: 0;
	z-index: 2
  }
}

/* Additional menu styles */

header {
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}

  
  nav {
  background-color: #292c2f;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 2px 0;
}


.menu {
  list-style-type: none;
  padding-left: 20px;
  display: inline-block;
}


.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  color: #ffffff;
  transition: ease .25s;
  position: relative;
}

.menu li a:hover {
  color: #FF8C00;
}

 